*.o
*.mod
*.aux
*.lof
*.log
*.lot
*.out
*.tec
*.pft
*.xyp
*.toc
*.bst
*.swp
*.pdf
*.synctex.gz
*.old
.vscode
.DS_Store
._.DS_Store
.hgignore.orig
.hgignore~
.vscode
src/.DS_Store
src/pflotran/*.o
src/pflotran/*.MOD
src/pflotran/pflotran
src/pflotran/pflotran_provenance.F90
src/pflotran/pflotran_xcode/build
src/pflotran/pflotran.xcodeproj/*.pbxuser
src/pflotran/pflotran.xcodeproj/*.mode1
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/project.pbxproj
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/*.pbxuser
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/*.mode1
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/*.mode1v3
src/pflotran/pflotran_xcode/.git/*
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/project.xcworkspace/*
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/xcuserdata/*
src/pflotran/*xcode/*
src/clm-pflotran/pflotran_interface
src/clm-pflotran/libpflotran.a
src/clm-pflotran/*.testlog
*.toc
*.aux
*.log
*.synctex.gz
*.bin
*.bin.info
*.xmf
*.stdout
*.regression
regression_tests/default/anisothermal/thc_1d.h5
*.nav
*.snm
*.vrb
src/pflotran/pflotran_dependencies.txt
src/pflotran/pflotran_source_files.txt
.git
.gitignore
*.rej
*.pyc
regression_tests/*
tpls/*
src/pflotran/unittests/*

src/clm-pflotran/*.F90

*.gcov 
*.gcda 
*.gcno

build/
bin/
