*.o
*.mod
*.aux
*.lof
*.log
*.lot
*.out
*.tec
*.xyp
*.toc
*.bst
*.swp
*.synctex.gz
*.old
.DS_Store
._.DS_Store
.hgignore.orig
.hgignore~
src/.DS_Store
src/pflotran/*.o
src/pflotran/*.MOD
src/pflotran/pflotran
src/pflotran/pflotran_provenance.F90
src/pflotran/pflotran_fc
src/pflotran/pflow
src/pflotran/ptran
src/pflotran/build
src/pflotran/pflotran_xcode/build
src/pflotran/pflotran.xcodeproj/*.pbxuser
src/pflotran/pflotran.xcodeproj/*.mode1
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/project.pbxproj
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/*.pbxuser
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/*.mode1
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/*.mode1v3
src/pflotran/pflotran_xcode/.git/*
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/project.xcworkspace/*
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/xcuserdata/*
src/pflotran/*xcode/*
src/pims/*.o
src/pims/*.MOD
src/pims/build
src/pims/pims
src/pims/pims.xcodeproj/*.pbxuser
src/pims/pims.xcodeproj/*.mode1
shortcourse/exercises/sx-115/doc/sx115.pdf
src/pflotran/*xcode/*
src/clm-pflotran/pflotran_interface
src/clm-pflotran/libpflotran.a
src/clm-pflotran/*.testlog
*.toc
*.aux
*.log
*.synctex.gz
docs/tecnotes/chemistry/chemistry_implementation.pdf
docs/user_manual/quick_guide.pdf
docs/user_manual/user_manual.pdf
docs/user_manual/user_manual.aux
docs/user_manual/user_manual.lof
docs/user_manual/user_manual.log
docs/user_manual/user_manual.lot
docs/user_manual/user_manual.out
docs/user_manual/user_manual.synctex.gz
docs/user_manual/user_manual.toc
docs/user_manual/developer_guide.pdf
docs/user_manual/user_manual.idx
docs/user_manual/user_manual.ilg
docs/user_manual/user_manual.ind

*.bin
*.bin.info
*.xmf
*.stdout
*.regression
regression_tests/default/anisothermal/thc_1d.h5
*.nav
*.snm
*.vrb
shortcourse/exercises/CLM-CN/doc/CLM-CN.pdf
src/pflotran/pflotran_dependencies.txt
src/pflotran/pflotran_source_files.txt
.git
.gitignore
*.rej
*.pyc
regression_tests/*
tpls/*
src/pflotran/unittests/*

src/clm-pflotran/libpflotran.a
src/clm-pflotran/appleyard.F90
src/clm-pflotran/auxiliary.F90
src/clm-pflotran/auxvars_base.F90
src/clm-pflotran/auxvars_flow.F90
src/clm-pflotran/auxvars_flow_energy.F90
src/clm-pflotran/auxvars_toil_ims.F90
src/clm-pflotran/auxvars_towg.F90
src/clm-pflotran/block_solve.F90
src/clm-pflotran/block_tridiag.F90
src/clm-pflotran/characteristic_curves.F90
src/clm-pflotran/characteristic_curves_base.F90
src/clm-pflotran/characteristic_curves_common.F90
src/clm-pflotran/characteristic_curves_owg.F90
src/clm-pflotran/characteristic_curves_table.F90
src/clm-pflotran/characteristic_curves_wipp.F90
src/clm-pflotran/checkpoint.F90
src/clm-pflotran/checkpoint_surface.F90
src/clm-pflotran/co2_span_wagner.F90
src/clm-pflotran/co2_span_wagner_spline.F90
src/clm-pflotran/co2_sw.F90
src/clm-pflotran/co2_sw_rtsafe.F90
src/clm-pflotran/co2eos.F90
src/clm-pflotran/communicator_base.F90
src/clm-pflotran/communicator_structured.F90
src/clm-pflotran/communicator_unstructured.F90
src/clm-pflotran/condition.F90
src/clm-pflotran/condition_control.F90
src/clm-pflotran/connection.F90
src/clm-pflotran/convergence.F90
src/clm-pflotran/coupler.F90
src/clm-pflotran/data_mediator.F90
src/clm-pflotran/data_mediator_base.F90
src/clm-pflotran/data_mediator_dataset.F90
src/clm-pflotran/data_mediator_vec.F90
src/clm-pflotran/dataset.F90
src/clm-pflotran/dataset_ascii.F90
src/clm-pflotran/dataset_base.F90
src/clm-pflotran/dataset_common_hdf5.F90
src/clm-pflotran/dataset_global_hdf5.F90
src/clm-pflotran/dataset_gridded_hdf5.F90
src/clm-pflotran/dataset_map_hdf5.F90
src/clm-pflotran/debug.F90
src/clm-pflotran/derivative_tests.F90
src/clm-pflotran/derivatives_utilities.F90
src/clm-pflotran/discretization.F90
src/clm-pflotran/dm_kludge.F90
src/clm-pflotran/e4d_mat_inv.F90
src/clm-pflotran/e4d_run.F90
src/clm-pflotran/e4d_setup.F90
src/clm-pflotran/e4d_vars.F90
src/clm-pflotran/eos.F90
src/clm-pflotran/eos_database.F90
src/clm-pflotran/eos_gas.F90
src/clm-pflotran/eos_oil.F90
src/clm-pflotran/eos_slv.F90
src/clm-pflotran/eos_water.F90
src/clm-pflotran/factory_geomechanics.F90
src/clm-pflotran/factory_hydrogeophysics.F90
src/clm-pflotran/factory_pflotran.F90
src/clm-pflotran/factory_subsurface.F90
src/clm-pflotran/factory_surface.F90
src/clm-pflotran/factory_surfsubsurface.F90
src/clm-pflotran/field.F90
src/clm-pflotran/flash2.F90
src/clm-pflotran/flash2_aux.F90
src/clm-pflotran/fluid.F90
src/clm-pflotran/gas_eos_mod.F90
src/clm-pflotran/gauss.F90
src/clm-pflotran/general.F90
src/clm-pflotran/general_aux.F90
src/clm-pflotran/general_common.F90
src/clm-pflotran/general_derivative.F90
src/clm-pflotran/generic.F90
src/clm-pflotran/geomech_grid.F90
src/clm-pflotran/geomech_grid_aux.F90
src/clm-pflotran/geomechanics_auxiliary.F90
src/clm-pflotran/geomechanics_condition.F90
src/clm-pflotran/geomechanics_coupler.F90
src/clm-pflotran/geomechanics_debug.F90
src/clm-pflotran/geomechanics_discretization.F90
src/clm-pflotran/geomechanics_field.F90
src/clm-pflotran/geomechanics_force.F90
src/clm-pflotran/geomechanics_global.F90
src/clm-pflotran/geomechanics_global_aux.F90
src/clm-pflotran/geomechanics_material.F90
src/clm-pflotran/geomechanics_patch.F90
src/clm-pflotran/geomechanics_realization.F90
src/clm-pflotran/geomechanics_region.F90
src/clm-pflotran/geomechanics_regression.F90
src/clm-pflotran/geomechanics_strata.F90
src/clm-pflotran/geomechanics_subsurface_properties.F90
src/clm-pflotran/geometry.F90
src/clm-pflotran/global.F90
src/clm-pflotran/global_aux.F90
src/clm-pflotran/grid.F90
src/clm-pflotran/grid_structured.F90
src/clm-pflotran/grid_unstructured.F90
src/clm-pflotran/grid_unstructured_aux.F90
src/clm-pflotran/grid_unstructured_cell.F90
src/clm-pflotran/grid_unstructured_explicit.F90
src/clm-pflotran/grid_unstructured_polyhedra.F90
src/clm-pflotran/hdf5.F90
src/clm-pflotran/hdf5_aux.F90
src/clm-pflotran/hydrostatic.F90
src/clm-pflotran/hydrostatic_common.F90
src/clm-pflotran/hydrostatic_multi_phase.F90
src/clm-pflotran/immis.F90
src/clm-pflotran/immis_aux.F90
src/clm-pflotran/init_common.F90
src/clm-pflotran/init_subsurface.F90
src/clm-pflotran/init_subsurface_flow.F90
src/clm-pflotran/init_subsurface_transport.F90
src/clm-pflotran/init_surface.F90
src/clm-pflotran/inlinesurface.F90
src/clm-pflotran/inlinesurface_aux.F90
src/clm-pflotran/input_aux.F90
src/clm-pflotran/integral_flux.F90
src/clm-pflotran/logging.F90
src/clm-pflotran/lookup_table.F90
src/clm-pflotran/material.F90
src/clm-pflotran/material_aux.F90
src/clm-pflotran/matrix_block_aux.F90
src/clm-pflotran/matrix_buffer.F90
src/clm-pflotran/miscible.F90
src/clm-pflotran/miscible_aux.F90
src/clm-pflotran/mphase.F90
src/clm-pflotran/mphase_aux.F90
src/clm-pflotran/mphase_pckr_mod.F90
src/clm-pflotran/multisimulation.F90
src/clm-pflotran/observation.F90
src/clm-pflotran/option.F90
src/clm-pflotran/option_flow.F90
src/clm-pflotran/option_transport.F90
src/clm-pflotran/output.F90
src/clm-pflotran/output_aux.F90
src/clm-pflotran/output_common.F90
src/clm-pflotran/output_ekg.F90
src/clm-pflotran/output_geomechanics.F90
src/clm-pflotran/output_hdf5.F90
src/clm-pflotran/output_observation.F90
src/clm-pflotran/output_surface.F90
src/clm-pflotran/output_tecplot.F90
src/clm-pflotran/output_vtk.F90
src/clm-pflotran/patch.F90
src/clm-pflotran/pflotran_constants.F90
src/clm-pflotran/pflotran_derivative.F90
src/clm-pflotran/pflotran_provenance.F90
src/clm-pflotran/pm_auxiliary.F90
src/clm-pflotran/pm_base.F90
src/clm-pflotran/pm_base_aux.F90
src/clm-pflotran/pm_base_pointer.F90
src/clm-pflotran/pm_flash2.F90
src/clm-pflotran/pm_general.F90
src/clm-pflotran/pm_geomechanics_force.F90
src/clm-pflotran/pm_immis.F90
src/clm-pflotran/pm_miscible.F90
src/clm-pflotran/pm_mphase.F90
src/clm-pflotran/pm_richards.F90
src/clm-pflotran/pm_richards_ts.F90
src/clm-pflotran/pm_rt.F90
src/clm-pflotran/pm_subsurface_flow.F90
src/clm-pflotran/pm_surface.F90
src/clm-pflotran/pm_surface_flow.F90
src/clm-pflotran/pm_surface_th.F90
src/clm-pflotran/pm_th.F90
src/clm-pflotran/pm_toil_ims.F90
src/clm-pflotran/pm_toil_ims_aux.F90
src/clm-pflotran/pm_towg.F90
src/clm-pflotran/pm_towg_aux.F90
src/clm-pflotran/pm_ufd_biosphere.F90
src/clm-pflotran/pm_ufd_decay.F90
src/clm-pflotran/pm_waste_form.F90
src/clm-pflotran/pm_wipp_flow.F90
src/clm-pflotran/pm_wipp_srcsink.F90
src/clm-pflotran/pmc_auxiliary.F90
src/clm-pflotran/pmc_base.F90
src/clm-pflotran/pmc_geomechanics.F90
src/clm-pflotran/pmc_hydrogeophysics.F90
src/clm-pflotran/pmc_subsurface.F90
src/clm-pflotran/pmc_surface.F90
src/clm-pflotran/pmc_third_party.F90
src/clm-pflotran/preconditioner_cpr.F90
src/clm-pflotran/reaction.F90
src/clm-pflotran/reaction_aux.F90
src/clm-pflotran/reaction_clm.F90
src/clm-pflotran/reaction_database.F90
src/clm-pflotran/reaction_database_aux.F90
src/clm-pflotran/reaction_database_hpt.F90
src/clm-pflotran/reaction_gas.F90
src/clm-pflotran/reaction_gas_aux.F90
src/clm-pflotran/reaction_immobile.F90
src/clm-pflotran/reaction_immobile_aux.F90
src/clm-pflotran/reaction_microbial.F90
src/clm-pflotran/reaction_microbial_aux.F90
src/clm-pflotran/reaction_mineral.F90
src/clm-pflotran/reaction_mineral_aux.F90
src/clm-pflotran/reaction_sandbox.F90
src/clm-pflotran/reaction_sandbox_base.F90
src/clm-pflotran/reaction_sandbox_clm_cn.F90
src/clm-pflotran/reaction_sandbox_example.F90
src/clm-pflotran/reaction_sandbox_gas.F90
src/clm-pflotran/reaction_sandbox_pnnl_cyber.F90
src/clm-pflotran/reaction_sandbox_pnnl_N.F90
src/clm-pflotran/reaction_sandbox_simple.F90
src/clm-pflotran/reaction_sandbox_ufd_wp.F90
src/clm-pflotran/reaction_solid_solution.F90
src/clm-pflotran/reaction_solid_solution_aux.F90
src/clm-pflotran/reaction_surf_complex.F90
src/clm-pflotran/reaction_surf_complex_aux.F90
src/clm-pflotran/reactive_transport.F90
src/clm-pflotran/reactive_transport_aux.F90
src/clm-pflotran/realization_base.F90
src/clm-pflotran/realization_subsurface.F90
src/clm-pflotran/realization_surface.F90
src/clm-pflotran/region.F90
src/clm-pflotran/regression.F90
src/clm-pflotran/richards.F90
src/clm-pflotran/richards_aux.F90
src/clm-pflotran/richards_common.F90
src/clm-pflotran/saturation.F90
src/clm-pflotran/saturation_function.F90
src/clm-pflotran/secondary_continuum.F90
src/clm-pflotran/secondary_continuum_aux.F90
src/clm-pflotran/shape_function.F90
src/clm-pflotran/simulation_aux.F90
src/clm-pflotran/simulation_base.F90
src/clm-pflotran/simulation_geomechanics.F90
src/clm-pflotran/simulation_hydrogeophysics.F90
src/clm-pflotran/simulation_subsurface.F90
src/clm-pflotran/simulation_surface.F90
src/clm-pflotran/simulation_surfsubsurface.F90
src/clm-pflotran/solver.F90
src/clm-pflotran/solver_cpr.F90
src/clm-pflotran/spline.F90
src/clm-pflotran/srcsink_sandbox.F90
src/clm-pflotran/srcsink_sandbox_base.F90
src/clm-pflotran/srcsink_sandbox_downreg.F90
src/clm-pflotran/srcsink_sandbox_mass_rate.F90
src/clm-pflotran/srcsink_sandbox_wipp_gas.F90
src/clm-pflotran/srcsink_sandbox_wipp_well.F90
src/clm-pflotran/strata.F90
src/clm-pflotran/string.F90
src/clm-pflotran/surface_auxiliary.F90
src/clm-pflotran/surface_field.F90
src/clm-pflotran/surface_flow.F90
src/clm-pflotran/surface_global.F90
src/clm-pflotran/surface_global_aux.F90
src/clm-pflotran/surface_material.F90
src/clm-pflotran/surface_th.F90
src/clm-pflotran/surface_th_aux.F90
src/clm-pflotran/th.F90
src/clm-pflotran/th_aux.F90
src/clm-pflotran/time_storage.F90
src/clm-pflotran/timestepper_base.F90
src/clm-pflotran/timestepper_BE.F90
src/clm-pflotran/timestepper_steady.F90
src/clm-pflotran/timestepper_surface.F90
src/clm-pflotran/timestepper_TS.F90
src/clm-pflotran/toil_ims.F90
src/clm-pflotran/toil_ims_derivs.F90
src/clm-pflotran/towg.F90
src/clm-pflotran/transport.F90
src/clm-pflotran/transport_constraint.F90
src/clm-pflotran/units.F90
src/clm-pflotran/upwind_direction.F90
src/clm-pflotran/utility.F90
src/clm-pflotran/variables.F90
src/clm-pflotran/waypoint.F90
src/clm-pflotran/well.F90
src/clm-pflotran/well_base.F90
src/clm-pflotran/well_data.F90
src/clm-pflotran/well_flow.F90
src/clm-pflotran/well_flow_energy.F90
src/clm-pflotran/well_oil_producer.F90
src/clm-pflotran/well_solver.F90
src/clm-pflotran/well_spec_base.F90
src/clm-pflotran/well_toil_ims.F90
src/clm-pflotran/well_water_injector.F90
src/clm-pflotran/wipp.F90
src/clm-pflotran/wipp_flow.F90
src/clm-pflotran/wipp_flow_aux.F90
src/clm-pflotran/wipp_flow_common.F90
src/clm-pflotran/wipp_flow_derivative.F90
src/clm-pflotran/wrapper_hydrogeophysics.F90
src/clm-pflotran/clm_rspfuncs.F90
src/clm-pflotran/criticality.F90
src/clm-pflotran/reaction_sandbox_degas.F90
src/clm-pflotran/reaction_sandbox_denitr.F90
src/clm-pflotran/reaction_sandbox_langmu.F90
src/clm-pflotran/reaction_sandbox_microbial.F90
src/clm-pflotran/reaction_sandbox_nitrif.F90
src/clm-pflotran/reaction_sandbox_plantn.F90
src/clm-pflotran/reaction_sandbox_somdec.F90
