*.o
*.mod
*.aux
*.lof
*.log
*.lot
*.out
*.tec
*.xyp
*.toc
*.bst
*.swp
*.synctex.gz
*.old
.DS_Store
._.DS_Store
.hgignore.orig
.hgignore~
src/.DS_Store
src/pflotran/*.o
src/pflotran/*.MOD
src/pflotran/pflotran
src/pflotran/pflotran_provenance.F90
src/pflotran/pflotran_fc
src/pflotran/pflow
src/pflotran/ptran
src/pflotran/build
src/pflotran/pflotran_xcode/build
src/pflotran/pflotran.xcodeproj/*.pbxuser
src/pflotran/pflotran.xcodeproj/*.mode1
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/project.pbxproj
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/*.pbxuser
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/*.mode1
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/*.mode1v3
src/pflotran/pflotran_xcode/.git/*
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/project.xcworkspace/*
src/pflotran/pflotran_xcode/pflotran_xcode.xcodeproj/xcuserdata/*
src/pflotran/*xcode/*
src/pims/*.o
src/pims/*.MOD
src/pims/build
src/pims/pims
src/pims/pims.xcodeproj/*.pbxuser
src/pims/pims.xcodeproj/*.mode1
shortcourse/exercises/sx-115/doc/sx115.pdf
src/pflotran/*xcode/*
src/clm-pflotran/pflotran_interface
src/clm-pflotran/libpflotran.a
src/clm-pflotran/*.testlog
*.toc
*.aux
*.log
*.synctex.gz
docs/tecnotes/chemistry/chemistry_implementation.pdf
docs/user_manual/quick_guide.pdf
docs/user_manual/user_manual.pdf
docs/user_manual/user_manual.aux
docs/user_manual/user_manual.lof
docs/user_manual/user_manual.log
docs/user_manual/user_manual.lot
docs/user_manual/user_manual.out
docs/user_manual/user_manual.synctex.gz
docs/user_manual/user_manual.toc
docs/user_manual/developer_guide.pdf
docs/user_manual/user_manual.idx
docs/user_manual/user_manual.ilg
docs/user_manual/user_manual.ind

*.bin
*.bin.info
*.xmf
*.stdout
*.regression
regression_tests/default/anisothermal/thc_1d.h5
*.nav
*.snm
*.vrb
shortcourse/exercises/CLM-CN/doc/CLM-CN.pdf
src/pflotran/pflotran_dependencies.txt
src/pflotran/pflotran_source_files.txt
.git
.gitignore
*.rej
*.pyc
regression_tests/*
tpls/*
src/pflotran/unittests/*

src/clm-pflotran/*.F90
!src/clm-pflotran/clm_pflotran_interface_data.F90
!src/clm-pflotran/mapping.F90
!src/clm-pflotran/pflotran_interface_main.F90
!src/clm-pflotran/pflotran_model.F90

*.gcov 
*.gcda 
*.gcno

libpflotran.a
src/pflotran-elm-interface/appleyard.F90
src/pflotran-elm-interface/auxiliary.F90
src/pflotran-elm-interface/auxvars_base.F90
src/pflotran-elm-interface/auxvars_flow.F90
src/pflotran-elm-interface/auxvars_flow_energy.F90
src/pflotran-elm-interface/auxvars_toil_ims.F90
src/pflotran-elm-interface/auxvars_towg.F90
src/pflotran-elm-interface/block_solve.F90
src/pflotran-elm-interface/block_tridiag.F90
src/pflotran-elm-interface/characteristic_curves.F90
src/pflotran-elm-interface/characteristic_curves_base.F90
src/pflotran-elm-interface/characteristic_curves_common.F90
src/pflotran-elm-interface/characteristic_curves_owg.F90
src/pflotran-elm-interface/characteristic_curves_table.F90
src/pflotran-elm-interface/characteristic_curves_wipp.F90
src/pflotran-elm-interface/checkpoint.F90
src/pflotran-elm-interface/checkpoint_surface.F90
src/pflotran-elm-interface/co2_span_wagner.F90
src/pflotran-elm-interface/co2_span_wagner_spline.F90
src/pflotran-elm-interface/co2_sw.F90
src/pflotran-elm-interface/co2_sw_rtsafe.F90
src/pflotran-elm-interface/co2eos.F90
src/pflotran-elm-interface/communicator_base.F90
src/pflotran-elm-interface/communicator_structured.F90
src/pflotran-elm-interface/communicator_unstructured.F90
src/pflotran-elm-interface/condition.F90
src/pflotran-elm-interface/condition_control.F90
src/pflotran-elm-interface/connection.F90
src/pflotran-elm-interface/convergence.F90
src/pflotran-elm-interface/coupler.F90
src/pflotran-elm-interface/data_mediator.F90
src/pflotran-elm-interface/data_mediator_base.F90
src/pflotran-elm-interface/data_mediator_dataset.F90
src/pflotran-elm-interface/data_mediator_vec.F90
src/pflotran-elm-interface/dataset.F90
src/pflotran-elm-interface/dataset_ascii.F90
src/pflotran-elm-interface/dataset_base.F90
src/pflotran-elm-interface/dataset_common_hdf5.F90
src/pflotran-elm-interface/dataset_global_hdf5.F90
src/pflotran-elm-interface/dataset_gridded_hdf5.F90
src/pflotran-elm-interface/dataset_map_hdf5.F90
src/pflotran-elm-interface/debug.F90
src/pflotran-elm-interface/derivative_tests.F90
src/pflotran-elm-interface/derivatives_utilities.F90
src/pflotran-elm-interface/discretization.F90
src/pflotran-elm-interface/dm_kludge.F90
src/pflotran-elm-interface/e4d_mat_inv.F90
src/pflotran-elm-interface/e4d_run.F90
src/pflotran-elm-interface/e4d_setup.F90
src/pflotran-elm-interface/e4d_vars.F90
src/pflotran-elm-interface/eos.F90
src/pflotran-elm-interface/eos_database.F90
src/pflotran-elm-interface/eos_gas.F90
src/pflotran-elm-interface/eos_oil.F90
src/pflotran-elm-interface/eos_slv.F90
src/pflotran-elm-interface/eos_water.F90
src/pflotran-elm-interface/factory_geomechanics.F90
src/pflotran-elm-interface/factory_hydrogeophysics.F90
src/pflotran-elm-interface/factory_pflotran.F90
src/pflotran-elm-interface/factory_subsurface.F90
src/pflotran-elm-interface/factory_surface.F90
src/pflotran-elm-interface/factory_surfsubsurface.F90
src/pflotran-elm-interface/field.F90
src/pflotran-elm-interface/flash2.F90
src/pflotran-elm-interface/flash2_aux.F90
src/pflotran-elm-interface/fluid.F90
src/pflotran-elm-interface/gas_eos_mod.F90
src/pflotran-elm-interface/gauss.F90
src/pflotran-elm-interface/general.F90
src/pflotran-elm-interface/general_aux.F90
src/pflotran-elm-interface/general_common.F90
src/pflotran-elm-interface/general_derivative.F90
src/pflotran-elm-interface/generic.F90
src/pflotran-elm-interface/geomech_grid.F90
src/pflotran-elm-interface/geomech_grid_aux.F90
src/pflotran-elm-interface/geomechanics_auxiliary.F90
src/pflotran-elm-interface/geomechanics_condition.F90
src/pflotran-elm-interface/geomechanics_coupler.F90
src/pflotran-elm-interface/geomechanics_debug.F90
src/pflotran-elm-interface/geomechanics_discretization.F90
src/pflotran-elm-interface/geomechanics_field.F90
src/pflotran-elm-interface/geomechanics_force.F90
src/pflotran-elm-interface/geomechanics_global.F90
src/pflotran-elm-interface/geomechanics_global_aux.F90
src/pflotran-elm-interface/geomechanics_material.F90
src/pflotran-elm-interface/geomechanics_patch.F90
src/pflotran-elm-interface/geomechanics_realization.F90
src/pflotran-elm-interface/geomechanics_region.F90
src/pflotran-elm-interface/geomechanics_regression.F90
src/pflotran-elm-interface/geomechanics_strata.F90
src/pflotran-elm-interface/geomechanics_subsurface_properties.F90
src/pflotran-elm-interface/geometry.F90
src/pflotran-elm-interface/global.F90
src/pflotran-elm-interface/global_aux.F90
src/pflotran-elm-interface/grid.F90
src/pflotran-elm-interface/grid_structured.F90
src/pflotran-elm-interface/grid_unstructured.F90
src/pflotran-elm-interface/grid_unstructured_aux.F90
src/pflotran-elm-interface/grid_unstructured_cell.F90
src/pflotran-elm-interface/grid_unstructured_explicit.F90
src/pflotran-elm-interface/grid_unstructured_polyhedra.F90
src/pflotran-elm-interface/hdf5.F90
src/pflotran-elm-interface/hdf5_aux.F90
src/pflotran-elm-interface/hydrostatic.F90
src/pflotran-elm-interface/hydrostatic_common.F90
src/pflotran-elm-interface/hydrostatic_multi_phase.F90
src/pflotran-elm-interface/immis.F90
src/pflotran-elm-interface/immis_aux.F90
src/pflotran-elm-interface/init_common.F90
src/pflotran-elm-interface/init_subsurface.F90
src/pflotran-elm-interface/init_subsurface_flow.F90
src/pflotran-elm-interface/init_subsurface_transport.F90
src/pflotran-elm-interface/init_surface.F90
src/pflotran-elm-interface/inlinesurface.F90
src/pflotran-elm-interface/inlinesurface_aux.F90
src/pflotran-elm-interface/input_aux.F90
src/pflotran-elm-interface/integral_flux.F90
src/pflotran-elm-interface/logging.F90
src/pflotran-elm-interface/lookup_table.F90
src/pflotran-elm-interface/material.F90
src/pflotran-elm-interface/material_aux.F90
src/pflotran-elm-interface/matrix_block_aux.F90
src/pflotran-elm-interface/matrix_buffer.F90
src/pflotran-elm-interface/miscible.F90
src/pflotran-elm-interface/miscible_aux.F90
src/pflotran-elm-interface/mphase.F90
src/pflotran-elm-interface/mphase_aux.F90
src/pflotran-elm-interface/mphase_pckr_mod.F90
src/pflotran-elm-interface/multisimulation.F90
src/pflotran-elm-interface/observation.F90
src/pflotran-elm-interface/option.F90
src/pflotran-elm-interface/option_flow.F90
src/pflotran-elm-interface/option_transport.F90
src/pflotran-elm-interface/output.F90
src/pflotran-elm-interface/output_aux.F90
src/pflotran-elm-interface/output_common.F90
src/pflotran-elm-interface/output_ekg.F90
src/pflotran-elm-interface/output_geomechanics.F90
src/pflotran-elm-interface/output_hdf5.F90
src/pflotran-elm-interface/output_observation.F90
src/pflotran-elm-interface/output_surface.F90
src/pflotran-elm-interface/output_tecplot.F90
src/pflotran-elm-interface/output_vtk.F90
src/pflotran-elm-interface/patch.F90
src/pflotran-elm-interface/pflotran_constants.F90
src/pflotran-elm-interface/pflotran_derivative.F90
src/pflotran-elm-interface/pflotran_provenance.F90
src/pflotran-elm-interface/pm_auxiliary.F90
src/pflotran-elm-interface/pm_base.F90
src/pflotran-elm-interface/pm_base_aux.F90
src/pflotran-elm-interface/pm_base_pointer.F90
src/pflotran-elm-interface/pm_flash2.F90
src/pflotran-elm-interface/pm_general.F90
src/pflotran-elm-interface/pm_geomechanics_force.F90
src/pflotran-elm-interface/pm_immis.F90
src/pflotran-elm-interface/pm_miscible.F90
src/pflotran-elm-interface/pm_mphase.F90
src/pflotran-elm-interface/pm_richards.F90
src/pflotran-elm-interface/pm_richards_ts.F90
src/pflotran-elm-interface/pm_rt.F90
src/pflotran-elm-interface/pm_subsurface_flow.F90
src/pflotran-elm-interface/pm_surface.F90
src/pflotran-elm-interface/pm_surface_flow.F90
src/pflotran-elm-interface/pm_surface_th.F90
src/pflotran-elm-interface/pm_th.F90
src/pflotran-elm-interface/pm_toil_ims.F90
src/pflotran-elm-interface/pm_toil_ims_aux.F90
src/pflotran-elm-interface/pm_towg.F90
src/pflotran-elm-interface/pm_towg_aux.F90
src/pflotran-elm-interface/pm_ufd_biosphere.F90
src/pflotran-elm-interface/pm_ufd_decay.F90
src/pflotran-elm-interface/pm_waste_form.F90
src/pflotran-elm-interface/pm_wipp_flow.F90
src/pflotran-elm-interface/pm_wipp_srcsink.F90
src/pflotran-elm-interface/pmc_auxiliary.F90
src/pflotran-elm-interface/pmc_base.F90
src/pflotran-elm-interface/pmc_geomechanics.F90
src/pflotran-elm-interface/pmc_hydrogeophysics.F90
src/pflotran-elm-interface/pmc_subsurface.F90
src/pflotran-elm-interface/pmc_surface.F90
src/pflotran-elm-interface/pmc_third_party.F90
src/pflotran-elm-interface/preconditioner_cpr.F90
src/pflotran-elm-interface/reaction.F90
src/pflotran-elm-interface/reaction_aux.F90
src/pflotran-elm-interface/reaction_clm.F90
src/pflotran-elm-interface/reaction_database.F90
src/pflotran-elm-interface/reaction_database_aux.F90
src/pflotran-elm-interface/reaction_database_hpt.F90
src/pflotran-elm-interface/reaction_gas.F90
src/pflotran-elm-interface/reaction_gas_aux.F90
src/pflotran-elm-interface/reaction_immobile.F90
src/pflotran-elm-interface/reaction_immobile_aux.F90
src/pflotran-elm-interface/reaction_microbial.F90
src/pflotran-elm-interface/reaction_microbial_aux.F90
src/pflotran-elm-interface/reaction_mineral.F90
src/pflotran-elm-interface/reaction_mineral_aux.F90
src/pflotran-elm-interface/reaction_sandbox.F90
src/pflotran-elm-interface/reaction_sandbox_base.F90
src/pflotran-elm-interface/reaction_sandbox_clm_cn.F90
src/pflotran-elm-interface/reaction_sandbox_example.F90
src/pflotran-elm-interface/reaction_sandbox_gas.F90
src/pflotran-elm-interface/reaction_sandbox_pnnl_cyber.F90
src/pflotran-elm-interface/reaction_sandbox_pnnl_N.F90
src/pflotran-elm-interface/reaction_sandbox_simple.F90
src/pflotran-elm-interface/reaction_sandbox_ufd_wp.F90
src/pflotran-elm-interface/reaction_solid_solution.F90
src/pflotran-elm-interface/reaction_solid_solution_aux.F90
src/pflotran-elm-interface/reaction_surf_complex.F90
src/pflotran-elm-interface/reaction_surf_complex_aux.F90
src/pflotran-elm-interface/reactive_transport.F90
src/pflotran-elm-interface/reactive_transport_aux.F90
src/pflotran-elm-interface/realization_base.F90
src/pflotran-elm-interface/realization_subsurface.F90
src/pflotran-elm-interface/realization_surface.F90
src/pflotran-elm-interface/region.F90
src/pflotran-elm-interface/regression.F90
src/pflotran-elm-interface/richards.F90
src/pflotran-elm-interface/richards_aux.F90
src/pflotran-elm-interface/richards_common.F90
src/pflotran-elm-interface/saturation.F90
src/pflotran-elm-interface/saturation_function.F90
src/pflotran-elm-interface/secondary_continuum.F90
src/pflotran-elm-interface/secondary_continuum_aux.F90
src/pflotran-elm-interface/shape_function.F90
src/pflotran-elm-interface/simulation_aux.F90
src/pflotran-elm-interface/simulation_base.F90
src/pflotran-elm-interface/simulation_geomechanics.F90
src/pflotran-elm-interface/simulation_hydrogeophysics.F90
src/pflotran-elm-interface/simulation_subsurface.F90
src/pflotran-elm-interface/simulation_surface.F90
src/pflotran-elm-interface/simulation_surfsubsurface.F90
src/pflotran-elm-interface/solver.F90
src/pflotran-elm-interface/solver_cpr.F90
src/pflotran-elm-interface/spline.F90
src/pflotran-elm-interface/srcsink_sandbox.F90
src/pflotran-elm-interface/srcsink_sandbox_base.F90
src/pflotran-elm-interface/srcsink_sandbox_downreg.F90
src/pflotran-elm-interface/srcsink_sandbox_mass_rate.F90
src/pflotran-elm-interface/srcsink_sandbox_wipp_gas.F90
src/pflotran-elm-interface/srcsink_sandbox_wipp_well.F90
src/pflotran-elm-interface/strata.F90
src/pflotran-elm-interface/string.F90
src/pflotran-elm-interface/surface_auxiliary.F90
src/pflotran-elm-interface/surface_field.F90
src/pflotran-elm-interface/surface_flow.F90
src/pflotran-elm-interface/surface_global.F90
src/pflotran-elm-interface/surface_global_aux.F90
src/pflotran-elm-interface/surface_material.F90
src/pflotran-elm-interface/surface_th.F90
src/pflotran-elm-interface/surface_th_aux.F90
src/pflotran-elm-interface/th.F90
src/pflotran-elm-interface/th_aux.F90
src/pflotran-elm-interface/time_storage.F90
src/pflotran-elm-interface/timestepper_base.F90
src/pflotran-elm-interface/timestepper_BE.F90
src/pflotran-elm-interface/timestepper_steady.F90
src/pflotran-elm-interface/timestepper_surface.F90
src/pflotran-elm-interface/timestepper_TS.F90
src/pflotran-elm-interface/toil_ims.F90
src/pflotran-elm-interface/toil_ims_derivs.F90
src/pflotran-elm-interface/towg.F90
src/pflotran-elm-interface/transport.F90
src/pflotran-elm-interface/transport_constraint.F90
src/pflotran-elm-interface/units.F90
src/pflotran-elm-interface/upwind_direction.F90
src/pflotran-elm-interface/utility.F90
src/pflotran-elm-interface/variables.F90
src/pflotran-elm-interface/waypoint.F90
src/pflotran-elm-interface/well.F90
src/pflotran-elm-interface/well_base.F90
src/pflotran-elm-interface/well_data.F90
src/pflotran-elm-interface/well_flow.F90
src/pflotran-elm-interface/well_flow_energy.F90
src/pflotran-elm-interface/well_oil_producer.F90
src/pflotran-elm-interface/well_solver.F90
src/pflotran-elm-interface/well_spec_base.F90
src/pflotran-elm-interface/well_toil_ims.F90
src/pflotran-elm-interface/well_water_injector.F90
src/pflotran-elm-interface/wipp.F90
src/pflotran-elm-interface/wipp_flow.F90
src/pflotran-elm-interface/wipp_flow_aux.F90
src/pflotran-elm-interface/wipp_flow_common.F90
src/pflotran-elm-interface/wipp_flow_derivative.F90
src/pflotran-elm-interface/wrapper_hydrogeophysics.F90
src/pflotran-elm-interface/clm_rspfuncs.F90
src/pflotran-elm-interface/criticality.F90
src/pflotran-elm-interface/reaction_sandbox_degas.F90
src/pflotran-elm-interface/reaction_sandbox_denitr.F90
src/pflotran-elm-interface/reaction_sandbox_langmu.F90
src/pflotran-elm-interface/reaction_sandbox_microbial.F90
src/pflotran-elm-interface/reaction_sandbox_nitrif.F90
src/pflotran-elm-interface/reaction_sandbox_plantn.F90
src/pflotran-elm-interface/reaction_sandbox_somdec.F90
src/pflotran-elm-interface/grid_grdecl.F90
src/pflotran-elm-interface/grid_grdecl_util.F90
src/pflotran-elm-interface/output_eclipse.F90
src/pflotran-elm-interface/well_type.F90
