[suites]
standard = 1d
           1d_richards
           1d_calcite_diffusion
flow = 1d 
       1d_richards
transport = 1d_calcite_diffusion
geochemistry = 1d_calcite_diffusion
parallel = 2d-np4 
           2d_richards-np4
           2d_flow_calcite-np2
standard_parallel = 2d-np4 
                    2d_richards-np4
                    2d_flow_calcite-np2

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 500 percent
generic = 1.0e-12 absolute
concentration = 1.0e-9 relative
discrete = 0 absolute
rate = 1.0e-12 absolute
volume_fraction = 1.0e-12 absolute
pressure = 1.0e-12 relative
saturation = 1.0e-12 absolute

[1d]

[2d-np4]
np=4

[2d_flow_calcite-np2]
np=2

[1d_calcite_diffusion]

[1d_richards]

[2d_richards-np4]
