[suites]
unstructured = terzaghi terzaghi-np4
geomechanics = terzaghi terzaghi-np4 

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 50 percent
displacement = 1.0e-9 relative 
strain = 1.0e-8 relative
stress = 1.0e-8 relative 

[terzaghi]

[terzaghi-np4]
np = 4


