[suites]
flow = THC_all_frac_types
       THCM_2frac
       TH_all_fract_types
       THM_fracfamily
geochemistry = THC_all_frac_types
               THCM_2frac
transport = THC_all_frac_types
            THCM_2frac
standard = THC_all_frac_types
           THCM_2frac
           TH_all_fract_types
           THM_fracfamily
#parallel = 
#standard_parallel =
           
[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 300 percent
generic = 1.0e-12 absolute
concentration = 1.0e-9 relative
discrete = 0 absolute
rate = 1.0e-12 absolute
volume_fraction = 1.0e-12 absolute
pressure = 1.0e-12 relative
saturation = 1.0e-12 absolute

[TH_all_fract_types]

[THC_all_frac_types]

[THM_fracfamily]

[THCM_2frac]
