[suites]
standard = inverse_adjoint
           inverse_perturbation
           inverse_3x1x3_transient
           inverse_3x1x3_transient_sat
           inverse_3x1x3_transport
           inverse_3x1x3_transport_numerical
           inverse_3x1x3_transport_pert
           inverse_3x1x3_transient_measurement
           inverse_3x1x3_transient_measurement_pert
      	   inverse_zflow_3x1x3_transient
           inverse_zflow_3x1x3_transport
           inverse_zflow_3x1x3_transient_pert
           inverse_zflow_3x1x3_transport_pert
           inverse_param
           inverse_param_pert

standard_parallel = inverse_adjoint-np8
                    inverse_perturbation-np8
                    inverse_zflow_3x1x3_transient-np4

inverse = inverse_adjoint
          inverse_adjoint-np8
          inverse_perturbation
          inverse_perturbation-np8
          inverse_3x1x3_transient
          inverse_3x1x3_transient_sat
          inverse_3x1x3_transport
          inverse_3x1x3_transport_numerical
          inverse_3x1x3_transport_pert
          inverse_3x1x3_transient_measurement
          inverse_3x1x3_transient_measurement_pert	  
          inverse_zflow_3x1x3_transient
          inverse_zflow_3x1x3_transient-np4
          inverse_zflow_3x1x3_transport
          inverse_zflow_3x1x3_transient_pert
          inverse_zflow_3x1x3_transport_pert
          inverse_param
          inverse_param_pert

[default-test-criteria]
# default criteria for all tests, can be overwritten by specific tests
time = 50 percent
generic = 1.0e-12 absolute
concentration = 1.0e-12 absolute
discrete = 0 absolute
rate = 1.0e-12 absolute
volume fraction = 1.0e-12 absolute
pressure = 1.0e-12 absolute
saturation = 1.0e-12 absolute
charge balance = 1.0e-12 absolute

[inverse_adjoint]
generic = 1.0e-12 relative
skip_check_regression = True
compare_ascii_output = inverse_adjoint_Jsense.txt

[inverse_adjoint-np8]
np=8
generic = 1.0e-12 relative
skip_check_regression = True
compare_ascii_output = inverse_adjoint-np8_Jsense.txt

[inverse_perturbation]
generic = 1.0e-12 relative
skip_check_regression = True
compare_ascii_output = inverse_perturbation_Jsense.txt

[inverse_perturbation-np8]
np = 8
generic = 1.0e-12 relative
skip_check_regression = True
compare_ascii_output = inverse_perturbation-np8_Jsense.txt

[inverse_3x1x3_transient]
generic = 1.0e-12 relative
skip_check_regression = True
compare_ascii_output = inverse_3x1x3_transient_Jsense.txt

[inverse_3x1x3_transient_sat]
generic = 1.0e-12 relative
skip_check_regression = True
compare_ascii_output = inverse_3x1x3_transient_sat_Jsense.txt

[inverse_3x1x3_transport]
generic = 1.0e-12 relative
skip_check_regression = True
compare_ascii_output = inverse_3x1x3_transport_Jsense.txt

[inverse_3x1x3_transport_pert]
generic = 1.0e-12 relative
skip_check_regression = True
compare_ascii_output = inverse_3x1x3_transport_pert_Jsense.txt

[inverse_3x1x3_transport_numerical]
generic = 1.0e-12 relative
skip_check_regression = True
compare_ascii_output = inverse_3x1x3_transport_numerical_Jsense.txt

[inverse_3x1x3_transient_measurement]
generic = 1.0e-12 relative
skip_check_regression = True
compare_ascii_output = inverse_3x1x3_transient_measurement_Jsense.txt

[inverse_3x1x3_transient_measurement_pert]
generic = 1.0e-12 relative
skip_check_regression = True
compare_ascii_output = inverse_3x1x3_transient_measurement_pert_Jsense.txt

[inverse_zflow_3x1x3_transient]
regression_filename_root = 3x1x3_transientRun5

[inverse_zflow_3x1x3_transient-np4]
np=4
regression_filename_root = 3x1x3_transient_parallelRun5

[inverse_zflow_3x1x3_transient_pert]
regression_filename_root = 3x1x3_transientRun3

[inverse_zflow_3x1x3_transport]
regression_filename_root = 3x1x3_transportRun5

[inverse_zflow_3x1x3_transport_pert]
regression_filename_root = 3x1x3_transportRun3

[inverse_param]
skip_check_regression = True

[inverse_param_pert]
skip_check_regression = True
